{
	"superAdmin": {
		"description": "Administrator with full access",
		"permissions": [
			"CREATE_USER",
			"DELETE_USER",
			"UPDATE_USER",
			"VIEW_USER",
			"MANAGE_SETTINGS"
		]
	},
	"boss": {
		"rule": {
			"and": [
				{
					"or": [
						{
							"type": "=",
							"value": [
								{
									"email": "<root_admin_email>"
								}
							]
						},
						{
							"type": "=",
							"value": [
								{
									"group": "root_admins"
								}
							]
						}
					]
				},
				{
					"type": "=",
					"value": [
						{
							"groups": "superAdmin"
						}
					]
				}
			]
		},
		"description": "Top level administrator with super admin permissions",
		"permissions": {
			"*": true
		}
	},
	"customer": {
		"rule": {
			"type": "equal",
			"value": [
				{
					"group": "*"
				}
			]
		},
		"description": "Customer",
		"permissions": {
			"USER": {
				"CONDITION": [
					[
						"OWN",
						"%user.id",
						"<equal>",
						"*USER.id"
					]
				],
				"UPDATE_USER": {
					"CONDITION": [
						[
							"!*",
							"*USER.keys",
							"<include.or>",
							[
								"email_check",
								"role"
							]
						]
					]
				},
				"*": "CONDITION.OWN"
			},
			"ORDER": {
				"CONDITION": [
					"OWN",
					"%user.id",
					"<equal>",
					"*ORDER.user_id"
				],
				"UPDATE_ORDER": {
					"CONDITION": [
						[
							"!*",
							"%ORDER.keys",
							"<include.or>",
							[
								"status",
								"price",
								["*", "<include>", "date"]
							]
						]
					]
				},
				"*": "CONDITION.OWN"
			}
		}
	},
	"SiteManager": {
		"rule": {
			"type": "equal",
			"value": [
				{
					"group": "SiteManagers"
				}
			]
		},
		"description": "Site Manager",
		"permissions": {
			"USER": {
				"VIEW_USER": true,
				"*": "*"
			},
			"ORDER": {
				"CONDITION": [
					[
						"SERVICE_AREA",
						"*ORDER.site.mananger[]",
						"<include>",
						"%user.id"
					]
				],
				"VIEW_ORDER": "CONDITION.SERVICE_AREA",
				"DELETE_ORDER": "CONDITION.SERVICE_AREA",
				"UPDATE_ORDER": "CONDITION.SERVICE_AREA",
				"*": "*"
			},
			"SITE": {
				"CONDITION": [
					[
						"SERVICE_AREA",
						"*SITE.manager[]",
						"<include>",
						"%user.id"
					]
				],
				"VIEW_SITE": "CONDITION.SERVICE_AREA",
				"DELETE_SITE": false,
				"UPDATE_SITE": "CONDITION.SERVICE_AREA",
				"*": "*"
			}
		}
	}
}